/*********************************
Bounty Table 
***********************************/
.bountyTable {
  display: flex;
  background-color: #fff;
  min-width: 100%;
  min-height: 200px;
  overflow-x: auto;
}

#bountyTable--content {
  background-color: white;
  min-width: 200px;
  margin-right: 400px;
  margin-left: 400px;
}

/*no scrollbar son! */
.bountyTable::-webkit-scrollbar {
  display: none;
}