/*********************************
    Bounty Table 
***********************************/
.bounty-window {
  display: flex;
  width: 100%;
  height: 200px;
  padding: 5px 30px;
  overflow-x: auto;
}

.bounty-card {
  flex: 0 0 200px;
  background-color: white;
  width: 200px;
  height: 100%;
  margin: 0px 5px;
  overflow: visible !important;
}

.bounty-card:hover {
  cursor: pointer;
}

.bounty-window-fade-left {
  flex: 0 0 40px;
  content: '';
  display: flex;
  height: 190px;
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(251, 251, 251, 0) 100%);
  position: relative;
  margin-right: -40px;
}

.bounty-window-fade-right {
  flex: 0 0 40px;
  content: '';
  display: flex;
  height: 190px;
  background: linear-gradient(to left, rgb(255, 255, 255) 0%,  rgba(251, 251, 251, 0) 100%);
  position: relative;
  margin-left: -40px;
}

.bountyTable::-webkit-scrollbar {
  display: none;
}

#bounty-window {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  width: 1200px;
}
/*********************************
      NavBar
*********************************/


/*********************************
      MainContent.component.js
*********************************/
.main-content-wrapper {
  background-color: white;
  min-height: 70vh;
  width: 100%;
  margin: 10px 0px;
}

/*********************************
      WelcomeBanner.component.js
*********************************/
#welcome-banner-wrapper {
  width: 70vw !important;
  margin: auto !important;
}

#bounty-modal-main{
  width: 60% !important;
  max-width: 60% !important;
}

#bounty-modal-content-container{
  display: flex;
  justify-content: space-evenly;
}

#answer-main{
  border: 1px solid orange;
}

#answer-list-main{
  border: 1px solid green;
  
}
#answer-submission-main{
  border: 1px solid blue;
  
}
#bounty-answers-main{
  border: 1px solid black;
  width: 60% !important;
}
#bounty-content-main{
  border: 1px solid red;
  width: 40% !important;
}